body {
  background-image: url("img/ToM.jpeg");
  background-size: cover;
}
.header {
  text-align: center;
  margin-bottom: 80px;
}
.row {
  display: flex;
  margin-bottom: 80px;
}
.side {
  flex: 30%; /* Set the width of the sidebar */
  background: rgba(100, 20, 80, 0.5);
  padding: 20px; /* Some padding */
  margin-left: 10%;
  margin-right: 10%;
  color: lavender;
}
.main {
  flex: 30%; /* Set the width of the main content */
  padding: 20px; /* Some padding */
  margin-left: 10%;
  margin-right: 10%;
  background: rgba(0, 20, 100, 0.5);
  color: lavender;
}
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .main {
    margin-top: 5%;
  }
}
input {
  float: right;
}
.current{
  margin-top: 200px;
  text-align: center;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  min-height: 300px;
  max-width: 50%;
  margin: auto;
  color: lavender;
}
.current:hover {
  background-image: url("img/mcduck.gif");
  background-size: cover;
  color: white;
}
#current{
  margin-top: 60px;
  font-size: 40px;
  text-align: center;
  background: rgba(100, 100, 100, 0.5);
}
.dHistory {
  min-height: 200px;
  background: rgba(255, 100, 140, 0.5);
}
.wHistory {
  background: rgba(80, 150, 0, 0.7);
}
